.line {
  margin-bottom: 1.2rem;
  display: block;
  width: 100%;
}

.word {
  /* Mantiene le lettere della parola unite su un unico blocco */
  display: inline-block;
  white-space: nowrap;
}

.char {
  opacity: 0.15;
  display: inline-block;
  will-change: opacity;
}
.text {
  width: 100%;
  max-width: calc(100% - 20px); 
  margin: 0 auto;
  text-align: center;
  font-size: clamp(3.0rem, 10vw, 5.6rem); 
  font-weight: 700;
  line-height: 1.4;
}